<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299316892180-d9omleqm9dkrvd9u04nj7v695lo1u3tt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299316892180-d9omleqm9dkrvd9u04nj7v695lo1u3tt</string>
	<key>API_KEY</key>
	<string>AIzaSyDaCwhPhWSbm-xqc6Viv6AHxmG9RlkcIbE</string>
	<key>GCM_SENDER_ID</key>
	<string>299316892180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.apptiep</string>
	<key>PROJECT_ID</key>
	<string>apptiep</string>
	<key>STORAGE_BUCKET</key>
	<string>apptiep.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299316892180:ios:9f6582d69060c11e260d01</string>
	<key>DATABASE_URL</key>
	<string>https://apptiep.firebaseio.com</string>
</dict>
</plist>